---
import Layout from '../layouts/Layout.astro';
import SignoutButton from '../components/SignoutButton.astro';
import { userInfo, getUserInfo, isLoggedIn, clearUserInfo  } from '../components/userInformation.js';
import { XataClient } from '../xata.js';
// Redirect to hobby home page if not logged in 
const loggedIn = isLoggedIn.get();
if (!loggedIn) {
  return Astro.redirect('/HobbyHome'); 
};

const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH
});
const { records } = await xata.db.product_category.getPaginated({
  pagination: {
    size: 50
  }
})
const { records: reservations } = await xata.db.reservations.getPaginated({
  pagination: {
    size: 200
  }
});


if (Astro.request.method === "POST") {
  try {
    const searchQuery = Astro.request.url;
    if (searchQuery.includes("edit=")) {
      const startIndex = searchQuery.indexOf("edit=") + 5;
      let editId = parseInt(searchQuery.slice(startIndex), 10);
      console.log(editId);
      
      const reservationToEdit = await xata.db.reservations.filter({
        reservation_id: editId
      }).getMany();
      
      // Toggle the value of is_ready
      const newBool = !reservationToEdit[0].is_ready;
      const reservationToEditId = reservationToEdit[0].id;

      await xata.db.reservations.update(reservationToEditId, { is_ready: newBool });
      console.log(`Reservation with ID ${editId} has been updated. is_ready is now ${newBool}.`);
      
      return Astro.redirect('/ManageReservations');
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

---  

<style>
  body {
    background-image: url("../images/background2.gif");
    font-family: Arial, sans-serif;
    background-size: cover;
  }

  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #6d7ab7;
  }
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
  .delete-button {
    background-color: #af4c4c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .delete-button:hover {
    background-color: #a04545;
  }

  .confirmation {
    color: white;
  }
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .confirmation {
    color: white;
  }

  .error-message {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 1px;
    text-align: center;
  }
</style>


<Layout title='Reservation Status Change'>

  <div class="background"></div>

  <div class="container">
    <h2 style="text-align: center; color:white">Change Pickup Status</h2>
    
    <form method="POST">
        <input type="hidden" name="action" value="logout">
        <button class="button"type="submit">Change Status</button>
      </form>
      <br/>
      <button class="delete-button" onclick="window.location.href='/ManageReservations'">Nah, ill keep it!</button>
    
 
</Layout>


