---

---
<style>
    .footer {
  
  left: 0;
  bottom: 0;
  background-color: #1B1A55;
  color: #fff;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 96%;
  bottom: 0;
  border-top: 3px solid #9290C3;
}
</style>
<footer class="footer">
    <p>&copy; 2024 Hobby Helper. All rights reserved.</p>
    {/* Add additional footer content or links */}
  </footer>