---
import { userInfo, getUserInfo, isLoggedIn, clearUserInfo  } from './userInformation.js';

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const logoutButtonClicked = data.has('logout');

    if (logoutButtonClicked) {
      clearUserInfo();
      return Astro.redirect('/HobbyHome');
    }

  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---
<style>



  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .confirmation {
    color: white;
  }

  .error-message {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 1px;
    text-align: center;
  }
</style>
<form method="POST">
  <button type="submit" name="logout">Sign Out</button>

</form>